# Compiled JavaScript files
lib/**/*.js
lib/**/*.js.map

# TypeScript v1 declaration files
typings/

# Node.js dependency directory
node_modules/

# Firestore logs
firestore-debug.log
ui-debug.log
firebase-debug.log

# Secrets
.runtimeconfig.json
service_account.json