.mt-4 {
  margin-top: 1rem
}

.mb-8 {
  margin-bottom: 2rem
}

.mt-12 {
  margin-top: 3rem
}

.flex {
  display: flex
}

.w-full {
  width: 100%
}

.items-center {
  align-items: center
}

.justify-center {
  justify-content: center
}

.rounded-full {
  border-radius: 9999px
}

.bg-green-900 {
  --tw-bg-opacity: 1;
  background-color: rgb(20 83 45 / var(--tw-bg-opacity))
}

.bg-amber-50 {
  --tw-bg-opacity: 1;
  background-color: rgb(255 251 235 / var(--tw-bg-opacity))
}

.py-4 {
  padding-top: 1rem;
  padding-bottom: 1rem
}

.py-6 {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem
}

.px-6 {
  padding-left: 1.5rem;
  padding-right: 1.5rem
}

.text-center {
  text-align: center
}

.font-mono {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace
}

.text-2xl {
  font-size: 1.5rem;
  line-height: 2rem
}

.text-xl {
  font-size: 1.25rem;
  line-height: 1.75rem
}

.font-light {
  font-weight: 300
}

.font-bold {
  font-weight: 700
}

.font-black {
  font-weight: 900
}

.text-white {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity))
}

.opacity-50 {
  opacity: 0.5
}
